00/ex00/megaphone
00/ex01/book
00/ex02/bank
01/ex00/zombz
01/ex01/hordz
01/ex02/stringz
01/ex03/violenz
01/ex04/sez
01/ex05/harlz
01/ex06/harlFilter
02/ex00/orthodox
02/ex01/orthodox_useful
02/ex02/fixed_operators
03/ex00/ClapTrap
03/ex01/ScavTrap
03/ex02/FragTrap
03/ex03/DiamondTrap
04/ex00/Animal
04/ex01/Brain
04/ex02/Abstract
**/*.o
**/tags
